body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(119, 119, 255);
    color: white;
}

div {
    flex: 1;
    display: flex;
    justify-content: space-around;
    width: 600px;
}

h1 {
    padding: 32px;
    font-weight: 900;
    font-size: 48px;
}

button {
    font-size: 24px;
    border-radius: 25px;
    padding: 16px;
    background-color: rgb(119, 119, 255);
    color: white;
    font-weight: 900;
}

button:hover {
    background-color: white;
    color: rgb(119, 119, 255);
}

#score,
#winner {
    font-size: 20px;

}